@use "Variables";
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
  color: Variables.$CWhite;
  margin: 0;
}
.heading1, .heading2, .heading3, .heading4, .subheading1, .subheading2, .NavText{
  text-transform: uppercase;
  color: Variables.$CWhite;
}

.heading1{
  font-size: 150px;
}
.heading2{
  font-size: 100px;
}
.heading3{
  font-size: 56px;
}
.heading4{
  font-size: 32px;
}
.heading5{
  font-size: 22px;
  text-transform: uppercase;
  color: Variables.$CGrey;
  letter-spacing: 4.72px;
}

.subheading1{
  font-size: 28px;
}
.subheading2{
  font-size: 14px;
  letter-spacing: 2.35px;
}
.NavText{
  font-size: 16px;
  letter-spacing: 2.7px;
  text-decoration: none !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  &:hover{
    border-bottom: 2px solid #979797;
    padding-top: 22px !important;
  }

}
.active{
  border-bottom: 2px solid Variables.$CGrey;
  padding-top: 22px !important;
  padding-bottom: 20px !important;
}
.Landing-Page-Main-Button{
  width: 274px;
  height: 274px;
  background: Variables.$CWhite;
  border-radius: 100%;
  transition: all .4s;
  display: flex;
  color: Variables.$CBlack;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  &:hover{
    box-shadow:0 0 0 80px rgba(255,255,255,0.11);
  }
}
